{% extends "template.html" %}
{% block conteudo %}

<div class="row d-flex justify-content-center">
    <div class="col-md-3">
        <form action="{{ url_for('atualizar') }}" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <figure class="figure img-thumbnail">
                    <label>
                        <img src="{{ url_for('imagem', nome_arquivo=capa_jogo) }}" class="figure-img img-fluid rounded">
                    </label>
                    <input type="file" class="form-control" id="arquivo" name="arquivo" accept=".jpg">
                </figure>
            </div>
            <div class="mb-3">
                {{ form.csrf_token() }}
                <input type="hidden" name="id" value="{{ id }}">
                {{ form.nome.label(class="form-label", for="nome") }}
                {{ form.nome(class="form-control", value=form.nome.data) }}
                <!--
                <label for="nome" class="form-label">Nome do Jogo:</label>
                <input type="text" class="form-control" id="nome" name="nome" value="">
                -->
            </div>
            <div class="mb-3">
                {{ form.categoria.label(class="form-label", for="categoria") }}
                {{ form.categoria(class="form-control", value=form.categoria.data) }}
                <!--
                <label for="categoria" class="form-label">Categoria:</label>
                <input type="text" class="form-control" id="categoria" name="categoria" value="">
                -->
            </div>
            <div class="mb-3">
                {{ form.console.label(class="form-label", for="console") }}
                {{ form.console(class="form-control", value=form.console.data) }}
                <!--
                <label for="console" class="form-label">Console:</label>
                <input type="text" class="form-control" id="console" name="console" value="">
                -->
            </div>
            <div class="mb-3">
                {{ form.salvar(class="btn btn-primary") }}
                <a class="btn btn-danger" href="{{ url_for('index') }}">Cancelar</a>
            </div>
            
            <!--
            <button type="submit" class="btn btn-primary">Atualizar</button>
            -->
        </form>
    </div>
</div>

{% endblock %}