{% extends "template.html" %}
{% block conteudo %}

<form action="{{ url_for('atualizar') }}" method="POST" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="arquivo" name="arquivo" accept=".jpg">
        <label class="input-group-text" for="arquivo">Selecionar</label>
    </div>
    <div class="mb-3">
        <input type="hidden" name="id" value="{{ jogo.id }}">
        <label for="nome" class="form-label">Nome do Jogo:</label>
        <input type="text" class="form-control" id="nome" name="nome" value="{{ jogo.nome }}">
    </div>
    <div class="mb-3">
        <label for="categoria" class="form-label">Categoria:</label>
        <input type="text" class="form-control" id="categoria" name="categoria" value="{{ jogo.categoria }}">
    </div>
    <div class="mb-3">
        <label for="console" class="form-label">Console:</label>
        <input type="text" class="form-control" id="console" name="console" value="{{ jogo.console }}">
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>

{% endblock %}